﻿.func_menu {
    padding:5px;
    grid-template-columns: 3fr 5fr; /* two columns template */
    grid-auto-rows: 1fr 1fr; /* use auto for infinity */
    background-color: grey;

}

.func_btn {
    background-color: rgba(255,255,255,0.25);
    border: 1px ridge aquamarine;
}
