@page "/diagrams"
@using Blazor_DIp.Components
@using Blazor_DIp.design

<div style="width:100vw; height: 100vh">
    <div class = "func_menu">
        <button class = "func_btn" @onclick ="Create_node">Создать узел</button>
        <button class = "func_btn" @onclick = "Create_group" >Создать группу</button>
        <button class = "func_btn" @onclick = "Create_nested">Сделать узел вложенным</button>
        <div class="map">
            <NavigatorWidget></NavigatorWidget>

        </div>
    </div>
   
  <CascadingValue Value="Diagram">
    <DiagramCanvas></DiagramCanvas>
  </CascadingValue>

</div>


@code {
    private Diagram Diagram { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var options = new DiagramOptions
    {
      DeleteKey = "Delete", // What key deletes the selected nodes/links
      DefaultNodeComponent = null, // Default component for nodes
      AllowMultiSelection = true, // Whether to allow multi selection using CTRL
      Links = new DiagramLinkOptions
      {
      },
      Zoom = new DiagramZoomOptions
      {
        Minimum = 0.5, // Minimum zoom value
        Inverse = true, // Whether to inverse the direction of the zoom when using the wheel
      }
    };
        Diagram = new Diagram(options);
        Diagram.RegisterModelComponent<CustomModels,Standart>();
       
    }

    private static CustomModels NewNode(double x, double y)
    {
        var node = new CustomModels(new Point(x, y));
        node.AddPort(PortAlignment.Bottom);
        node.AddPort(PortAlignment.Top);
        node.AddPort(PortAlignment.Left);
        node.AddPort(PortAlignment.Right);
        return node;
    }

    private void Create_node()
    {
        var node = NewNode(50, 50);
        Diagram.Nodes.Add(new [] { node });
    }

    private void Create_group()
    {

    }

    private void Create_nested()
    {
        
    }
}