@using Blazor.Diagrams.Components.Renderers;
                    
<GroupContainer Group="Group" Class="custom">
    <div class="title"><input @bind-value="Group.Title"/></div>
    <GroupLinks></GroupLinks>
    <GroupNodes></GroupNodes>

    @foreach (var port in Group.Ports)
    {
        <PortRenderer Port="port" Class="group-port"></PortRenderer>
    }
</GroupContainer>

@code {
    [Parameter] public design.CustomGroupD Group { get; set; }
}