@*@using Blazor.Diagrams.Components.Renderers;
@using Blazor_DIp.design

<div class="card" style="width: 250px;">
    <div class="card-body">
        <h5 class="card-title">Add</h5>
        <div class="form-group">
            <input type="number" class="standart_node" @bind-value="design.Name" placeholder="узел" />
        </div>
    </div>
    @foreach (var port in Node.Ports)
    {
        <!-- Default ports -->
        <PortRenderer Port="port" />
    }
</div>

@code {
    [Parameter]
    public BotAnswerNode Node { get; set; }
}*@