/*.colored-node {
    border: 2px solid black;
    text-align: center;
}

    .colored-node.selected {
        border-color: blue;
    }

    .colored-node .port {
        width: 30px;
        height: 30px;
    }

        .colored-node .port.blue {
            background-color: blue;
        }

        .colored-node .port.red {
            background-color: red;
        }
*/