@using Blazor.Diagrams.Components.Renderers;
@using Blazor_DIp.design;

<div class="custom-node" >
        <div class="node-body">
            <input class="standart_node" @bind-value="Node.Name10" placeholder="Node" />
        </div>
    @foreach (var port in Node.Ports)
    {
        <!-- Default ports -->
        <PortRenderer Port="port" />
    }
    <a href=" " style=" color:black;">>></a>
</div>

@code {
    [Parameter]
    public CustomModels Node { get; set; }
}